<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>
    {% if page.url == "/index.html" %}
        Home
    {% elsif page_type == "category" %}
        {{ category_title }}
    {% else %}
        {{ page.title }}
    {% endif %}
</title>
{% seo %}

<link rel="shortcut icon" type="image/png" href="{{ site.logo_img | prepend: site.baseurl }}">

<!-- 1. 기존 로컬 폰트 로드 (그대로 유지) -->
<style>
@font-face {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('Nunito Sans'),
         url("{{ site.baseurl }}/assets/fonts/NunitoSans-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 600;
    font-display: optional;
    src: local('Righteous'),
         url("{{ site.baseurl }}/assets/fonts/Righteous-Regular.woff2") format("woff2");
}

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: optional;
    src: local('Lato'),
         url("{{ site.baseurl }}/assets/fonts/Lato-Regular.woff2") format("woff2");
}
</style>

<!-- 2. 본고딕(Noto Sans KR)을 Google Fonts CDN으로 추가 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700;900&display=swap" rel="stylesheet">


<script src="{{ '/assets/js/fontfaceobserver.js' | prepend: site.baseurl }}" type="text/javascript"></script>
<script type="text/javascript">
    // 3. 모든 폰트(기존 폰트 + 본고딕)를 감지하도록 수정
    const nunitoObserver = new FontFaceObserver('Nunito Sans');
    const righteousObserver = new FontFaceObserver('Righteous');
    const latoObserver = new FontFaceObserver('Lato');
    const notoObserver = new FontFaceObserver('Noto Sans KR');
  
    Promise.all([
        nunitoObserver.load(),
        righteousObserver.load(),
        latoObserver.load(),
        notoObserver.load() // Noto Sans KR 감지 추가
    ]).then(function(){
        document.documentElement.className += " fonts-loaded";
    });
</script>

<meta name="baseurl" content="{{ site.baseurl }}">
<meta
name="description"
content="{% if page.description %}{{ page.description | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
